.blog-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.blog-page-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
}
.blog-page-blog{
    width: 32%;
}
