.contactus-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    isolation: isolate;
   
    
}
.contactus-content{
    padding: 50px;
    display: flex;
    flex-direction: column;
   position: relative;
   background-color: var(--white);
   
   
}
.contactus-content::before{
    content: '';
    position: absolute;
    inset: 0;
    /* background: url(../../assets/background.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}
.contactus-text{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    isolation: isolate;
}
.contactus-text span{
    font-size: 30px;
    color: var(--black);
    font-weight: 600;
}
.contactus-text p{
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
    width: 550px;
    text-align: center;
}
.contactus-inner-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    justify-content:center;
    gap: 100px;
}
.contactus-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid var(--gray);
    width: 30%;
    height: 450px;
    isolation: isolate;
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(25px);
    background-color: var(--light-golden);
}
.contactus-left-box{
    display: flex;
    gap: 30px;
    
}
.contactus-left-box img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
}
.contactus-left-box-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contactus-left-box-text span{
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
}
.contactus-left-box-text p{
    font-size: 12px;
    color: var(--black);
    font-weight: 300;
    width: 200px;
}
.contactus-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    border: 2px solid var(--gray);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(25px);
    background-color: var(--light-golden);
}
.contactus-input-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    isolation: isolate;
}
.contactus-input-box span{
    font-size: 12px;
    color: var(--black);
    font-weight: 500;
}
.contactus-input-box input{
    width: 100%;
    height: 50px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background: var(--white);
    backdrop-filter: blur(25px);
    padding: 10px;
    outline: none;
    color: var(--gray);
}
.contactus-input-box textarea{
    width: 100%;
    height: 110px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background: var(--white);
    padding: 10px;
    resize: none;
    outline: none;
    color: var(--gray);
}
.contactus-btn button{
    width: 140px;
    height: 40px;
    background: var(--golden);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.error{
    font-size: 12px;
    color: red;
    font-weight: 500;
}


@media screen and (max-width:1000px) {
    .contactus-content{
        padding: 50px 20px 50px 20px;
    }
 .contactus-left{
    width: 40%;
 }
 .contactus-form{
    width: 50%;
 }
}
@media screen and (max-width:750px){
    .contactus-inner-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .contactus-left{
        width: 100%;
     }
     .contactus-form{
        width: 100%;
     }
}
@media screen and (max-width:480px){
    .contactus-form{
    padding: 20px;
     }
     .contactus-text span{
        font-size: 25px;
     }
     .contactus-inner-container{
        margin-top: 30px;
     }
}

