.product-page-main-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.product-main-box {
  width: 100%;
  padding: 50px;
  height: fit-content;
}

.heading {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.heading span {
  font-size: 38px;
  font-weight: 550;
  color: var(--gray);
}

/* Product Categories */
.product-categories {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: var(--golden) transparent;
}

/* Scrollbar Styling */
.product-categories::-webkit-scrollbar {
  height: 2px;
}
/* 
.product-categories::-webkit-scrollbar-thumb {
  background: var(--golden);
  border-radius: 10px;
} */

.category {
  cursor: pointer;
  height: 37px;
  min-width: 150px;
  border-radius: 6px;
  background-color: var(--light-golden);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;
}

.category:hover {
  background-color: var(--golden);
  color: var(--white);
}

/* Product Cards */
.all-products-main-box-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.product-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 280px;
  min-width: 220px;
  max-width: 20%;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-images {
  height: 200px;
  width: 100%;
}

.product-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-card-text {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-text span {
  font-size: 18px;
  padding: 4px;
  font-weight: 500;
  border-bottom: 2px solid var(--golden);
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 1099px) {
  .product-card {
    width: 240px;
  }
}

@media screen and (max-width: 607px) {
  .product-card {
    width: 200px;
  }
}

@media screen and (max-width: 503px) {
  .product-card {
    width: 90%;
  }
}

@media screen and (max-width: 485px) {
  .product-main-box {
    padding: 30px;
  }
}
