.add-category-container{
    width: 79%;
    height: calc(100vh -  70px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-category-content{
    width: 99%;
    height: 98%;
    background: var(--light-golden);
    border-radius: 20px;
    border: 1px solid var(--golden);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.add-category-content span{
    font-size: 40px;
    color: var(--golden);
    font-weight: 600;
}
.add-category-content input{
    width: 500px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--golden);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}
.add-category-content button{
    width: 120px;
    height: 40px;
    background: var(--golden);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
}