.popular-card-container{
    width: 300px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.popular-card-container img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.card-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.266);
    backdrop-filter: blur(3px);
    transition: all 0.5s;
}
.card-hover span{
    font-size: 30px;
    color: var(--white);
    font-weight: 500;
}
.popular-card-container:hover > .card-hover{
    bottom: 0px;
}
/* .popular-card-container{
    border: 1px solid red;
} */