.add-product-container{
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-product-content{
    width: 99%;
    height: 98%;
    background: var(--light-golden);
    border-radius: 20px;
    border: 1px solid var(--golden);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 50px;
    padding: 15px;
}
.category-bar{
    width: 100%;
    height: 60px;
    border: 1px solid var(--golden);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow: auto;
}
.category-bar::-webkit-scrollbar{
    width: 0;
}
.category-bar span{
    font-size: 18px;
    color: var(--golden);
    font-weight: 500;
    cursor: pointer;
}
.add-product-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
}
.add-product-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.add-product-box span{
    font-size: 18px;
    color: var(--golden);
    font-weight: 500;
}
.add-product-box input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--golden);
    outline: none;
    font-size: 16px;
    font-weight: 500;
}
.add-product-box textarea{
    width: 400px;
    height:100px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--golden);
    outline: none;
    font-size: 16px;
    font-weight: 500;
    resize: none;
}
.add-product-images,.finishes{
    display: flex;
    align-items: center;
    gap: 20px;
}
.add-product-image{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
}
.add-product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.finish{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--golden);
    border-radius: 5px;
    align-items: center;
}
.finish span{
    color: var(--white);
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn button{
    width: 120px;
    height: 40px;
    background: var(--golden);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
}