.home-banner-container {
    width: 100%;
    height: 520px !important;
    position: relative;
    overflow: hidden;
    /* border: 2px solid red; */
    /* margin-top: 500px; */
   /* border: 2px solid red; */
   flex-shrink: 0;
   background: var(--white);
  }
  
  .banner-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .banner-slide.active {
    opacity: 1;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    /* left: 10%; */
    transform: translateY(-50%);
    color: var(--white);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
     justify-content: end;
    flex-direction: column;
  }
  
  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .banner-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .banner-content p {
    font-size: 1rem;
  }
  
  .banner-dots {
    position: absolute;
    bottom: 20px ;
    /* left: 50% !important; */
    right: 30px;
    display: flex;
    gap: 10px;
  }
  
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dot.active {
    background: #fdd835;
  }
  
  .dot:hover {
    background: #aaa;
  }
  @media screen  and (max-width: 1070px) {
    html, body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    
  }

  