.footer-main-container{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-golden);
    padding: 50px;
}
.left-footer-container{
    height: 100%;
    width: 46%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-logo{
    height: 50px;
    width: 50px;
   
}
.footer-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.footer-logo-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-text{
    display: flex;
    
}
.footer-text span {
    font-size: 28px;
    font-weight: 550;
    color:var(--golden) ;
}
.footer-text-discription {
    padding: 10px;
}
.footer-text-discription span{

  font-size: 16px;
  color: var(--gray);
}
.right-footer-container{
    display: flex;
    height: 100%;
    width: 46%;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 50px; */
}
.footer-links{
    display: flex;
    flex-direction:column ;
    gap: 15px;


}
.footer-links span {
    font-size: 18px;
    font-weight: 550;

   
}
.footer-links p {
    font-size: 16px;

    color: var(--gray);
 

   

}
.footer-links p:hover {
    color: var(--golden);
    font-weight: 550;
    cursor: pointer;
    
}
.get-in-touch-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}
.get-in-touch-footer span {
    font-size: 20px;
    font-weight: 550;
    color: var(--golden);
}
.map-address{
    display: flex;
    /* align-items: center; */
    gap: 10px;
}
.map-address p {
    font-size: 14px;
    color: var(--gray);
}
.map-footer{
    height: 150px;
    width: 100%;
   border-radius: 8px;
   background-color: var(--gray);
   overflow: hidden;


}

@media screen  and (max-width:1145px){
    .footer-main-container{
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        
    }    
    .left-footer-container{
        height: 100%;
        width: 100%;
      
    }
    .right-footer-container{
        display: flex;
        height: 100%;
        width: 100%;
        /* align-items: center; */
        justify-content: space-between;
        
    }
}
@media screen  and (max-width:649px){
    .right-footer-container{
        display: flex;
        height: 100%;
        width: 100%;
        gap: 50px;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-between;
        
    }
    .get-in-touch-footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left:0;

        /* justify-content: center; */
        /* align-items: center; */
    }
    .map-footer{
        height: 150px;
        width: fit-content;
       border-radius: 8px;
       background-color: var(--gray);
       overflow: hidden;
    
    
    }
    .footer-text-discription {
        padding: 0;
    }
    .footer-text span {
        font-size: 22px;
        font-weight: 550;
        color:var(--golden) ;
    }
    .footer-logo{
        height: 40px;
        width: 40px;
       
    }
}

@media screen  and (max-width:513px){
    .footer-main-container{
        padding: 30px;
    }


}
    

