.blog-detail-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}
.blog-img{
    width: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-detail-coontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.blog-detail-coontent span{
    font-size: 40px;
    color: var(--golden);
    font-weight: 600;
    position: relative;
}
.blog-detail-coontent span::before {
    content: '';
    width: 20%; 
    height: 3px;
    border-radius: 10px;
    background: var(--golden);
    position: absolute;
    top: 5;
    /* left: 50%; */
    bottom: -5px; 
    /* transform: translateX(-50%);  */
}
.blog-detail-coontent p{
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
}