.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}
.about-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-main-left{
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-main-left span{
    font-size: 40px;
    color: var(--golden);
    font-weight: 500;
    position: relative;
}
.about-main-left span::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    background: var(--gray);
    bottom: 0;
    left: 0;

}
.about-main-left p{
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
}
.about-main-right{
    width: 47%;
    height: 400px;
    border-radius: 12px;
    background: var(--light-golden);
}
.about-feature{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-feature-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.about-feature-card{
    width: 31%;
    height: 150px;
    border: 1px solid var(--golden);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.about-feature-card img{
    height: 100%;
    width: 150px;
    object-fit: cover;
}
.about-feature-card-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-feature-card-text span{
    font-size: 25px;
    color: var(--golden);
    font-weight: 500;
    position: relative;
}
.about-feature-card-text span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--golden);
    left: 0;
    bottom: 0;
}
.about-feature-card-text p{
    font-size: 16px;
    color: var(--gray);
    font-weight: 400;
}
.our-testimonials-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.our-testinomial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
    text-align: center;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
    color: #0066cc;
  }
  
  .testinomial-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 800px; */
    overflow: hidden;
  }
  
  .nav-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: var(--white);
    border-radius: 50%;

  }
  
  .nav-button.left {
    left: 10px;
  }
  
  .nav-button.right {
    right: 10px;
  }
  
  .carousel-wrapper {
    width: 80%;
    overflow: hidden;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid #ddd; */
    padding: 20px;
    border-radius: 12px;
    background-color: transparent;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .testimonial-content {
    text-align: left;
  }
  
  .name {
    font-size: 1.5rem;
    color: var(--black);
  }
  
  .field {
    font-weight: bold;
    color: #333;
  }
  
  .text {
    margin-top: 10px;
    color: #555;
  }
.our-review-container{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-golden);

}  
@media screen  and (max-width:1063px){
  .about-main{
 
    flex-direction: column;
    gap: 50px;
    /* justify-content: space-between; */
}
.about-main-left{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-main-right{
  width: 100%;
  height: 400px;

}
  
}

@media screen and (max-width:920px) {
  .about-feature-card{
    width: 300px;
  }
  
}
@media screen and (max-width:720px) {
     .about-feature-cards{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
  }

  
  .about-feature-card{
    width:100%;
  }
  .about-feature-card img{
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.about-content{
  padding: 30px;
}

}@media screen and (max-width:559px){
  .about-main-left span{
    font-size: 32px;
    color: var(--golden);
    font-weight: 500;
    position: relative;
}
  .carousel-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid #ddd; */
    padding: 0px;
    border-radius: 12px;
    background-color: transparent;
    flex-direction: column;
    gap: 20px;
    justify-content: center;


  }
  .profile-image {
    height: 70px;
    width: 70px;
  }

  .testimonial-content {
    text-align: center;
  }
  .name {
    font-size: 18px;
  }
  .field {
    font-size: 14px;
  }

}