.Banner-main-container {
    height:40vh;
    width: 100%;
    position: relative; /* Allows absolute positioning inside */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; /* Ensures the background image doesn't overflow */
    background-color: var(--light-golden);
}

.background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div */
    z-index: 10; /* Moves it behind the content */
}

.content {
    position: relative; /* Ensures content appears above the background */
    text-align: center;
    z-index: 1;
    display: flex;

}
.content h1 {
    font-size: 52px;
    font-weight: 600;
    color: var(--golden);
    z-index: 1000;
    isolation: isolate;
    position: relative;
    z-index: 3;
}

@media screen and (max-width:480px) {
    .content h1 {
        font-size: 38px;
    }
    
}